name: "Multi-Event Pipeline/ Workflow"
on:
  push:
    branches:
      - master
      - test
jobs:
  on-push:
    runs-on: ubuntu-latest
    steps:
      - name: "On Push Event"
        run: echo "This job runs on push events to the master branch."